.navbar{
    background-color: #5c7a89;
   
}

#logo img{
    max-width: 115px;
    height: auto;

}

#main-menu{

   display: block; 
}

#menu-up li a{
    display: block;
    padding: 5px 50px;


}
#menu-down li a{
    display: block;
    padding: 5px 50px;

}
#menu-down li{
    position: relative;

}
.search-input{
    height: auto;
    width: 500px;
    border: none;
}

#menu-down ul.sub-menu{
    position: absolute;
    background-color:#5c7a89 ;
    padding: 10px 0px;
    list-style: none;
    width: 180px;
    border: 1px solid white;
    display: none;
}
#menu-down li:hover>ul.sub-menu{
    display: block;
}
#menu-down ul.sub-menu a{
   padding: 8px 15px;
   border-bottom: 1px solid white;
   left: 0;
}
#menu-down ul.sub-menu li:hover>a{
    border-bottom: 1px solid rgb(153, 138, 138);

}
#menu-down ul.sub-menu li:last-child a{
    border:none;
}

#menu-down ul.sub-menu ul.sub-menu{
    left: 180px;
    top: -11px;
 }
 
/* border khi hover vào menu*/









.container {
    background-color: white;
    padding: 200px 10px;
    box-shadow: 40px 50px 30px 20px  rgba(0, 0, 0, 0.1);
    border-radius: 20px;
    width: 400px;
    text-align: center;
}

h1 {
    margin-bottom: 20px;
}

.input-group {
    margin-bottom: 15px;
    text-align: left;
}

label {
    font-size: 14px;
    display: block;
    margin-bottom: 5px;
}

input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

button {
    padding: 10px 20px;
    background-color:  #5c7a89;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    width: 100%;
}



